@model TurismoReal.Negocio.ServExtra

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(c => c.Nom_serv, "NOMBRE")
    @Html.TextBoxFor(c => c.Nom_serv)
    <br />
    <br />
    @Html.LabelFor(c => c.Tipo_serv, "TIPO")
    @Html.TextBoxFor(c => c.Tipo_serv)
    <br />
    @Html.LabelFor(c => c.Desc_serv, "DESCRIPCION")
    @Html.TextBoxFor(c => c.Desc_serv)
    <br />
    <br />
    @Html.LabelFor(c => c.Id_agencia, "AGENCIA")
    @Html.DropDownListFor(c => c.Id_agencia, new SelectList(ViewBag.agencias, "Id_age", "Nom_age"))
    <br />
    <button>Guardar Cambios</button>
}
