@using TurismoReal.Negocio




@{
    ViewBag.Title = "Index";
}

<h2>Servicios Extra</h2>

@{ List<ServExtra> servicios = (List<ServExtra>)ViewBag.servicios;}

<table>
    <tr>
        <th>Nombre de empresa</th>
        <th></th>
        <th>Nombre del servicio</th>
        <th></th>
        <th>Ubicacion</th>
        <th></th>
        <th>Opciones</th>
    </tr>

    @foreach (var servicio in servicios)
    {
        <tr>
            <td>@servicio.Agenciaexterna.Nom_age</td>
            <td></td>
            <td>@servicio.Nom_serv</td>
            <td></td>
            <td>@servicio.Agenciaexterna.Comuna.Nom_com</td>
            <td></td>
            <td>@Html.ActionLink("ELIMINAR", "CreateTour", new { id = servicio.Id_serv })</td>
            <td>@Html.ActionLink("ELIMINAR", "Delete", new { id = servicio.Id_serv })</td>
        </tr>
    }
</table>

@Html.ActionLink("CrearTour", "CreateTour", "ServicioExtraController", new { @class = "btn btn-primary" })


@TempData["mensaje"]