@using TurismoReal.Negocio


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ List<Vehiculo> vehiculos = (List<Vehiculo>)ViewBag.vehiculos;}

<table>
    <tr>
        <th>Patente</th>
        <th></th>
        <th>Color</th>
        <th></th>
        <th>Modelo</th>
        <th></th>
        <th>Marca</th>
        <th></th>
        <th>Año</th>
        <th></th>
        <th>Opciones</th>
        
    </tr>

    @foreach (var vehiculo in vehiculos)
    {
    <tr>
        <td>@vehiculo.Patente</td>
        <td></td>
        <td>@vehiculo.Color</td>
        <td></td>
        <td>@vehiculo.Modelo.Nom_modelo</td>
        <td></td>
        <td>@vehiculo.Modelo.Marca.Nom_marca</td>
        <td></td>
        <td>@vehiculo.Agno</td>
        <td></td>
    </tr>
    }
</table>
