@model TurismoReal.Negocio.Departamento

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "DepartamentoController", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(c => c.Dir_dpto, "DIRECCION")
    @Html.TextBoxFor(c => c.Dir_dpto)
    <br />
    @Html.HiddenFor(c => c.Num_dpto, "NUMERO")
    @Html.TextBoxFor(c => c.Num_dpto)
    <br />
    @Html.HiddenFor(c => c.N_amb_dpto, "AMBIENTES")
    @Html.TextBoxFor(c => c.N_amb_dpto)
    <br />
    @Html.HiddenFor(c => c.Desc_dpto, "DESCRIPCION")
    @Html.TextBoxFor(c => c.Desc_dpto)
    <br />
    @Html.HiddenFor(c => c.Costo_arri_dpto, "COSTO")
    @Html.TextBoxFor(c => c.Costo_arri_dpto)
    <br />
    @Html.HiddenFor(c => c.Img_1_dpto, "IMG")
    @Html.TextBoxFor(c => c.Img_1_dpto, new { type = "file" })
    <br />
    @Html.HiddenFor(c => c.Img_2_dpto, "IMG")
    @Html.TextBoxFor(c => c.Img_2_dpto, new { type = "file" })
    <br />
    @Html.HiddenFor(c => c.Img_3_dpto, "IMG")
    @Html.TextBoxFor(c => c.Img_3_dpto, new { type = "file" })
    <br />
    @Html.HiddenFor(c => c.Img_4_dpto, "IMG")
    @Html.TextBoxFor(c => c.Img_4_dpto, new { type = "file" })
    <br />
    @Html.HiddenFor(c => c.Img_5_dpto, "IMG")
    @Html.TextBoxFor(c => c.Img_5_dpto, new { type = "file" })
    <br />
    @Html.LabelFor(c => c.Id_cnd, "Condominio")
    @Html.DropDownListFor(c => c.Id_cnd, new SelectList(ViewBag.condominios, "Id_con", "Nom_con"))
    <br />
    <button>Guardar Cambios</button>
}
