@using TurismoReal.Negocio

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{ List<Departamento> departamentos = (List<Departamento>)ViewBag.departamentos;}

<table>
    <tr>
        <th>Region</th>
        <th></th>
        <th>Comuna</th>
        <th></th>
        <th>Direccion</th>
        <th></th>
        <th>Numero</th>
        <th></th>
        <th>Ambientes</th>
        <th>
        <th>Descripcion</th>
        <th>
        <th>Precio</th>
        <th>
    </tr>

    @foreach (var departamento in departamentos)
    {
    <tr>
        <td>@departamento.Condominio.Comuna.Region.Nombre</td>
        <td></td>
        <td>@departamento.Condominio.Comuna.Nom_com</td>
        <td></td>
        <td>@departamento.Dir_dpto</td>
        <td></td>
        <td>@departamento.Num_dpto</td>
        <td></td>
        <td>@departamento.N_amb_dpto</td>
        <td></td>
        <td>@departamento.Desc_dpto</td>
        <td></td>
        <td>@departamento.Costo_arri_dpto</td>
        <td></td>
        <td>@Html.ActionLink("ELIMINAR", "Delete", new { id = departamento.Id_dpto })</td>
        <td>@Html.ActionLink("MODIFICAR", "Edit", new { id = departamento.Id_dpto })</td>
    </tr>
    }
</table>