@using TurismoReal.Negocio


@{
    ViewBag.Title = "Index";
}

<h2>Conductores</h2>

@{ List<Conductor> conductores = (List<Conductor>)ViewBag.conductores;}

<table>
    <tr>
        <th>Nombre</th>
        <th></th>
        <th>Apellido Paterno</th>
        <th></th>
        <th>Apellido Materno</th>
        <th></th>
        <th>Telefono</th>
        <th></th>
        <th>Correo de contacto</th>
    </tr>

    @foreach (var conductor in conductores)
    {
    <tr>
        <td>@conductor.Nom_conductor</td>
        <td></td>
        <td>@conductor.Ap_pat_conductor</td>
        <td></td>
        <td>@conductor.Ap_mat_conductor</td>
        <td></td>
        <td>@conductor.Tel_conductor</td>
        <td></td>
        <td>@conductor.Email_conductor</td>
        <td></td>
    </tr>
    }
</table>

