@model Turismo.Negocio.Departamento


@{
    ViewBag.Title = "Modificar";
}

<h2>Editar departamento</h2>
@Html.ValidationSummary()




@using (Html.BeginForm())
{
    @Html.HiddenFor(d => d.Id)
    @Html.LabelFor(d => d.Direccion, "Dirección")
    <br />
    @Html.TextBoxFor(d => d.Direccion)
    <br />
    <br />
    @Html.LabelFor(d => d.Numero, "Número del departamento")
    <br />
    @Html.TextBoxFor(d => d.Numero)
    <br />
    <br />
    @Html.LabelFor(d => d.Precio)
    <br />
    @Html.TextBoxFor(d => d.Precio)
    <br />
    <br />
    @Html.LabelFor(d => d.RegionId, "Region")
    <br />
    @Html.DropDownListFor(d => d.RegionId, new SelectList(ViewBag.regiones, "Id", "Nombre"))
    <br />

    <button>Guardar cambios </button>

    <br />
    <br />

    @Html.ActionLink("Ver departamentos", "Index")

}