@using Turismo.Negocio;
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Departamentos</h2>

@{ List<Departamento> departamentos = (List<Departamento>)ViewBag.departamentos;}

@Html.ActionLink("Agregar departamento", "Create")


<table>

    <tr>
        <th>Dirección  </th>
        <th>Precio  </th>
        <th>Número dpto  </th>
        <th>Región  </th>
        <th>Opciones  </th>

    </tr>

    @foreach (var departamento in departamentos)
    {
        <tr>
            <td>@departamento.Direccion  </td>
            <td>$@departamento.Precio  </td>
            <td>  @departamento.Numero  </td>
            <td>  @departamento.Region.Nombre  </td>
            
            <td >@Html.ActionLink("Eliminar", "Delete", new { id = departamento.Id }) </td>
            <td >@Html.ActionLink("Modificar", "Edit", new { id = departamento.Id })</td>
             
        </tr>

    }

</table>


@TempData["mensaje"]