@model TurismoReal.Negocio.AgenciaExterna

@{
    ViewBag.Title = "Create";
}

<h2>Agregar Agencia Externa</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(a => a.Nom_age, "NOMBRE")
    @Html.TextBoxFor(a => a.Nom_age)
    <br />
    @Html.LabelFor(a => a.Email_age, "CORREO")
    @Html.TextBoxFor(a => a.Email_age)
    <br />
    @Html.LabelFor(a => a.Tel_age, "TELEFONO")
    @Html.TextBoxFor(a => a.Tel_age)
    <br />
    <br />
    @Html.LabelFor(a => a.Id_com, "Comuna")
    @Html.DropDownListFor(a => a.Id_com, new SelectList(ViewBag.comunas, "Id_com", "Nom_com"))
    <br />
    <button>Guardar</button>

}

