@model Turismo.Negocio.Usuario

@{
    ViewBag.Title = "Login";
}

<h2>Ingresa tus datos</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(u => u.Email, "Correo electrónico")
    <br />
    @Html.TextBoxFor(u => u.Email, new { type = "email" })
    <br />
    @Html.LabelFor(u => u.Password, "Contraseña")
    <br />
    @Html.TextBoxFor(u => u.Password)
    <br />
    <br />

    <button>Ingresar</button>

}

<br />

@TempData["mensaje"]



